body {
    background-color: dimgrey;
    padding: 0px;
}

p {
    font-size: 30px;
    margin: 1%;
}

textarea {
    width: 90%;
    margin: 10px;
    resize: none;
}

canvas {
    padding: 10px;
    margin-left: auto;
}

#updateShaderButton {
    margin-right: auto;
    padding: 30px;
}

#shaderInput {
    margin: 0;
    width: 100%;
}