body {
    background-color: dimgrey;
}

p {
    font-size: 30px;
    margin: 1%;
}

textarea {
    width: 90%;
    margin: 10px;
    resize: none;
}

canvas {
    padding: 10px;
    margin-left: auto;
}